<h2>New Task</h2>
<p>
  <%= form_for(@task) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :details %>
    <%= f.text_field :details %>
    <%= f.submit %>
  <% end %>
</p>

<h3><%= link_to "Back to list", task_path %></h3>